.main {
    padding: 20px;
    background-color: #fef;
    border-radius: 40px;
    width: auto;
    aspect-ratio: 1/0.7;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #fef, inset 0px 0px 10px #fef;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.container {
    width: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.option {
    padding: 10px;
    background-color: #fef;
    border-radius: 30px;
    width: calc(100% / 2 - 25px);
    aspect-ratio: 1/0.5;
    box-shadow: 0px 0px 10px #fef, inset 0px 0px 10px #fef;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    font-size: 16px;
}

.option p{
    margin-left: 20px;
}

.main2 {
    margin-top: 80px;
    aspect-ratio: 1/ 0.5;
}

.des {
    margin-top: 0px;
    aspect-ratio: 1/0.5;
    background: none;
    box-shadow: none;
}

.des p{
    text-align: center;
    font-weight: bold;
}

.result {
    margin-top: 20px;
    font-size: 80px;
    font-weight: bold;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .correct {
    color: green;
}
    .incorrect {
    color: red;
}